<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>객체</h1>
    <h2>객체 선언 및 호출</h2>
    <p>
        중괄호 {}를 사용하여 객체를 생성하고, 속성에는 모든 자료형이 올 수 있음<br/>
        객체를 키 값을 사용하여 속성 식별
    </p>
    <button onclick="basic()">실행확인</button>
    <script>
        const basic = () => {
            const product = {
                pName: 'Dry Mango', 
                type: 'pickle', 
                ingredient:['mango', 'sugar'],
                origin: 'Philippines',
                pName: 'mango jam'
            };
            console.log(product);
            // map이랑 흡사하다
            // 객체명['속성명']
            console.log(product['pName']);
            console.log(product['type']);
            console.log(product['ingredient']);
            console.log(product['ingredient'][1])
            console.log(product['origin']);

            // 객체명.속성명
            console.log(product.pName);
            console.log(product.type);
            console.log(product.ingredient);
            console.log(product.ingredient[1]);
            console.log(product.origin);

            //product = '양말';
            product.origin = 'Korea';

        }
    </script>

    <h3>객체의 키 식별자 테스트</h3>
    <p>
        객체의 키는 모든 문자열 사용 가능<br/>
        단, 식별자로 사용할 수 없는 단어를 키로 사용한 경우, 무조건 대괄호를 사용해야 객체의 요소에 접근 가능
    </p>
    <button onclick="keyTest()">실행확인</button>
    <script>
        const keyTest = () => {
            const objTest = {
                sum$mer: '여름방학',
                sum_mer: '아이스크림',
                'sum mer': '바다'
            };
            console.log(objTest);

            console.log(objTest.sum$mer);
            console.log(objTest.sum_mer);
            //console.log(objTest.sum mer); .으로 사용 불가능, 대괄호만 가능
            console.log(objTest['sum mer']);
        }
    </script>


    <h2>객체 속성 추가 및 제거</h2>
    <button onclick="addObjArg()">실행확인</button>
    <script>
        const addObjArg = () => {
            const student = {}; // const student = new Object();
        console.log(student);

        student.name = '강건강';
        student['hobby'] = '운동';
        student.strength = '팔씨름';
        student['dream'] = '운동선수';
        console.log(student);

        delete(student.strength);
        console.log(student);
        }
        
    </script>

    <h2>객체 배열</h2>
    <button onclick="objArr()">실행확인</button>
    <script>
        const objArr = () => {
            const student0 = {name: '차정준', java: 90, oracle: 56, html5: 93, css3: 88, javascript: 30};
            const student1 = {name: '강건강', java: 32, oracle: 52, html5: 11, css3: 43, javascript: 30};
            const student2 = {name: '송성실', java: 64, oracle: 36, html5: 58, css3: 22, javascript: 30};
            const student3 = {name: '류라라', java: 84, oracle: 62, html5: 86, css3: 92, javascript: 30};
            const student4 = {name: '남나눔', java: 12, oracle: 38, html5: 57, css3: 28, javascript: 30};
            const student5 = {name: '윤예의', java: 23, oracle: 95, html5: 77, css3: 84, javascript: 30};
            const student6 = {name: '정재주', java: 46, oracle: 21, html5: 93, css3: 17, javascript: 30};
            const student7 = {name: '문미미', java: 26, oracle: 54, html5: 24, css3: 42, javascript: 30};
            const student8 = {name: '도대담', java: 76, oracle: 54, html5: 33, css3: 59, javascript: 30};
            const student9 = {name: '박보배', java: 78, oracle: 63, html5: 70, css3: 40, javascript: 30};
            
            const students = [];
            students.push(student0);
            students.push(student1);
            students.push(student2);
            students.push(student3);
            students.push(student4);
            students.push(student5);
            students.push(student6);
            students.push(student7);
            students.push(student8);
            students.push(student9);

            console.log(students);

            //함수도 객체안에 넣을 수 있따~
            for(const obj of students){
                //console.log(obj);
                obj.getSum = function(){
                    let sum = 0;
                    for(const key in this){
                        if(key != 'name' && key != 'getSum' && key != 'getAvg'){
                            sum += obj[key];
                        }
                    }
                    return sum;
                }
                obj.getAvg = function(){
                    return this.getSum()/5;
                }

                console.log(`이름 : ${obj.name}, 총점 : ${obj.getSum()}, 평균 : ${obj.getAvg()}`)
            }

        }
    </script>
</body>
</html>