<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <h1>정규표현식</h1>
        <h2>정규표현식의 객체 생성</h2>
        <button onclick="test1()">확인하기</button>
        <script>
            const test1 = () => {
                // 1. new
                // const regExp = new RegExp('script');
                // const regExp = new RegExp(/script/);
                // 2. 스크립트 작성
                const regExp = /script/;

                const str = 'javascript jquery ajax';

                console.log(regExp.test(str)); // test() : 해당 글자가 있으면 true, 없으면 false
                //console.log(str.search(regExp));
                console.log(regExp.exec(str)); // exec() : 해당 문자가 없으면 null, 있으면 배열 리턴
                //console.log(str.match(regExp));
            };
        </script>

        <h2>$&, $`, $'</h2>
        <button onclick="test2()"></button>
        <script>
            const test2 = () => {
                const regExp = /as/;
                const str = 'javascript jquery ajax sass';

                // 제일 처음 일치하는 문자열을 의미하는 $&
                console.log(str.replace(regExp, '($&)'));

                // 매칭된 문자열의 앞문자열을 의미하는 $`
                console.log(str.replace(regExp, '($`)'));

                // 매칭된 문자열의 뒤 문자열을 의미하는 $`
                console.log(str.replace(regExp, "($'')"));
            };
        </script>

        <h2>()소괄호와 |</h2>
        <button onclick="test3()">실행확인</button>
        <script>
            const test3 = () => {
                const src = ['월요일', '화요일', '수요일', '목요일', '금요일', '토요일', '일요일'];
                // const regExp = /(금요일|토요일|일요일)/;
                const regExp = /(금|토|일)요일/;
                for (const i of src) {
                    console.log(i + ' : ' + regExp.test(i));
                }
            };
        </script>

        <h2>플래그문자</h2>
        <button onclick="test4()">실행확인</button>
        <script>
            const test4 = () => {
                const str = 'JavaScript JQuery Ajax\nJAvaScript JQuery Ajax';

                const regExp1 = /a/;
                console.log(regExp1 + ' : ' + str.replace(regExp1, '($&)'));

                const regExp2 = /a/g; // g : 전역 비교 수행
                console.log(regExp1 + ' : ' + str.replace(regExp1, '($&)'));

                const regExp3 = /a/i; // i : 대소문자를 가리지 않고 비교 수행
                console.log(`${regExp3} : ${str.replace(regExp3, '($&)')}`);

                // 대소문자를 가리지 않고 모든 a 찾기
                const regExp4 = /a/gi;
                console.log(`${regExp4} : ${str.replace(regExp4, '($&)')}`);
            };
        </script>

        <h2>앵커문자</h2>
        <button onclick="test5()">실행확인</button>
        <script>
            const test5 = () => {
                const str1 = 'JavaScript\nJQuery\nAjax';

                // ^ 문자열의 앞
                // const regExp1 = /j/; //JavaScript JQuery A(j)ax
                // const regExp1 = /j/ig; //(J)avaScript (J)Query A(j)ax
                // const regExp1 = /^j/gi; //(J)avaScript JQuery Ajax
                const regExp1 = /^j/gim; //(J)avaScript (J)Query Ajax
                console.log(`${regExp1} : ${str1.replace(regExp1, '($&)')}`);

                // $ 문자열의 뒤
                const str2 = 'JavaScript\nDescription\nShellScript\nAjax';
                // const regExp2 = /ipt/; //JavaScr(ipt) Description ShellScript Ajax
                // const regExp2 = /ipt/g; //JavaScr(ipt) Descr(ipt)ion ShellScr(ipt) Ajax
                // const regExp2 = /ipt$/g; //JavaScript Description ShellScript Ajax
                const regExp2 = /ipt$/gm; //JavaScr(ipt) Description ShellScr(ipt) Ajax
                console.log(`${regExp2} : ${str2.replace(regExp2, '($&)')}`);
            };
        </script>

        <h2>수량문자</h2>
        <button onclick="test6()">실행확인</button>
        <script>
            const test6 = () => {
                const src = 'aabc abc bc';

                const regExp1 = /a*b/g; // a* : a가 0개 이상
                // (aab)c (ab)c (b)c
                console.log(`${regExp1} : ${src.replace(regExp1, '($&)')}`);

                const regExp2 = /a+b/g; // a+ : a가 1개 이상
                // (aab)c (ab)c bc
                console.log(`${regExp2} : ${src.replace(regExp2, '($&)')}`);

                const regExp3 = /a?b/g; // a? : a가 0개 이거나 1개
                // a(ab)c (ab)c (b)c
                console.log(`${regExp3} : ${src.replace(regExp3, '($&)')}`);
            };
        </script>

        <h3>{}를 이용해서 수량 표현</h3>
        <button onclick="test7()">실행확인</button>
        <script>
            const test7 = () => {
                const src = 'AA ABA ABBA ABBBA';

                // a{5} : a가 5개
                // a{2,5} : a가 2~5개
                // a{2,} : a가 2개 이상
                const regExp11 = /AB*A/g;
                // (AA) (ABA) (ABBA) (ABBBA)
                console.log(`${regExp11} : ${src.replace(regExp11, '($&)')}`);
                const regExp21 = /AB{0,}A/g;
                console.log(`${regExp21} : ${src.replace(regExp21, '($&)')}`);

                const regExp12 = /AB+A/g;
                // AA (ABA) (ABBA) (ABBBA)
                console.log(`${regExp11} : ${src.replace(regExp11, '($&)')}`);
                const regExp22 = /AB{1,}A/g;
                console.log(`${regExp22} : ${src.replace(regExp22, '($&)')}`);

                const regExp13 = /AB?A/g;
                // (AA) (ABA) ABBA ABBBA
                console.log(`${regExp11} : ${src.replace(regExp11, '($&)')}`);
                const regExp23 = /AB{0,1}A/g;
                console.log(`${regExp23} : ${src.replace(regExp23, '($&)')}`);
            };
        </script>

        <h2>메타문자와 []대괄호</h2>
        <button onclick="test8()">실행확인</button>
        <script>
            const test8 = () => {
                const str1 = 'JavaScrit JQuery Ajax';

                // [a,j] : a나 j검색
                const regExp1 = /[aj]/gi;
                console.log(`${regExp1} : ${str1.replace(regExp1, '($&)')}`);

                // [^a,j] : a, j 제외
                const regExp2 = /[^aj]/gi;
                console.log(`${regExp2} : ${str1.replace(regExp2, '($&)')}`);

                const str2 = '123JavaScript';
                // [a-z] : 소문자 모두 체크
                // [A-Z] : 대문자 모두 체크
                // [0-9] : 숫자 모두 체크
                // [0-9a-z]: 영어 소문자와 숫자만 체크(쉼표 넣으면 쉼표까지 체크,,)
                const regExp3 = /[a-z]/g;
                console.log(`${regExp3} : ${str1.replace(regExp3, '($&)')}`);
            };
        </script>

        <h3>추가 메타문자</h3>
        <button onclick="test9()">실행확인</button>
        <script>
            const test9 = () => {
                const src = 'A1 B2 c3 d_4 e:5` ffGG77--__-- 가\n나\n다';
                const regExp1 = /[0-9]/g; // 숫자
                console.log(`${regExp1} : ${src.replace(regExp1, '($&)')}`);

                const regExp2 = /\w/g; // 영어, 숫자, _
                console.log(`${regExp2} : ${src.replace(regExp2, '($&)')}`);
                const regExp8 = /[1-zA-Z0-9]/g; // 영어, 숫자, _
                console.log(`${regExp8} : ${src.replace(regExp8, '($&)')}`);

                const regExp3 = /\s/g; // 탭, 띄어쓰기, 줄바꿈 = 공백
                console.log(`${regExp3} : ${src.replace(regExp3, '($&)')}`);
                const regExp9 = /[ /t/n]/g; // 탭, 띄어쓰기, 줄바꿈 = 공백
                console.log(`${regExp9} : ${src.replace(regExp9, '($&)')}`);

                const regExp4 = /\D/g; // 숫자 제외
                console.log(`${regExp4} : ${src.replace(regExp4, '($&)')}`);
                const regExp10 = /[^0-9]/g; // 숫자 제외
                console.log(`${regExp10} : ${src.replace(regExp10, '($&)')}`);

                const regExp5 = /\W/g; // 영어, 숫자, _ 제외
                console.log(`${regExp5} : ${src.replace(regExp5, '($&)')}`);
                const regExp11 = /[^a-zA-Z0-9_]/g; // 영어, 숫자, _ 제외
                console.log(`${regExp11} : ${src.replace(regExp11, '($&)')}`);

                const regExp6 = /\S/g; // 공백 제외
                console.log(`${regExp6} : ${src.replace(regExp6, '($&)')}`);
                const regExp12 = /[^ \t\n]/g; // 공백 제외
                console.log(`${regExp12} : ${src.replace(regExp12, '($&)')}`);
            };
        </script>

        <h2>Escaping</h2>
        <button onclick="test10()">실행확인</button>
        <script>
            const test10 = () => {
                const src = '$12$ \\-\\ $25$'; // $12$ \-\ $25$
                console.log(src);

                const regExp1 = /$/g; // $12$ \-\ $25$
                console.log(`${regExp1} : ${src.replace(regExp1, '($&)')}`);

                const regExp2 = /\$/g; // ($)12($) \-\ ($)25($)
                console.log(`${regExp2} : ${src.replace(regExp2, '($&)')}`);

                const regExp3 = /\$$/g; // 맨 끝에 있는 $ 표시
                console.log(`${regExp3} : ${src.replace(regExp3, '($&)')}`);

                const regExp4 = // ; //모든 \ 표시 : $12$ (/)-(/) $25$
                    console.log(`${regExp4} : ${src.replace(regExp4, '($&)')}`);
            };
        </script>

        <h2>포인트 .</h2>
        <button onclick="test11()">실행확인</button>
        <script>
            const test11 = () => {
                const regExp1 = /a.b/;
                console.log(`${regExp1} : ab => ${regExp1.test('ab')}`);
                console.log(`${regExp1} : a아b => ${regExp1.test('a아b')}`);
                console.log(`${regExp1} : a아싸b => ${regExp1.test('a아싸b')}`);

                const regExp2 = /xy./;
                console.log(`${regExp2} : xyz => ${regExp1.test('xyz')}`); //true
                console.log(`${regExp2} : wxy => ${regExp1.test('wxy')}`); //false
                console.log(`${regExp2} : xy => ${regExp1.test('xy ')}`); //true
                console.log(`${regExp2} : xy야호 => ${regExp1.test('xy야호')}`); //true

                const regExp3 = /in/;
                console.log(`${regExp3} : going => ${regExp3.test('going')}`); // 여기부분 다시 보고 채워야함!!
                console.log(`${regExp3} : inner => ${regExp3.test('inner')}`); //false
            };
        </script>

        <h2>예제 : 주민등록번호</h2>
        <input type="text" id="ssn" /> <button onclick="validate()">실행확인</button>
        <script>
            const validate = () => {
                // **$$-#!!!!!!
                // * 생년, % 생월, $ 생일, # 성별, !는 어떤 숫자가 오든 상관없음
                // 생년 00 ~ 99
                // 생월 십의자리 : 0,1 / 일의자리 : 1~9/012
                // 생일 십의자리 : 0,1,2,3 / 일의 자리 : 1-9/0-9/0-9/01
                const regExp = /^\d{2}(0[1-9]|1[0-2])(0[1-9]|[12][0-9]|3[01])-[1-4]\d{6}$/;
                const pno = document.getElementById('ssn').value;
                if (regExp.test(pno)) {
                    alert('정상 입력');
                } else {
                    alert('잘못 입력');
                }
            };
        </script>
    </body>
</html>
