<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <h1>자바스크립트 수업내용</h1>
        <ol>
            <li>
                <a href="views/01_JavaScript.html">자바스크립트 개요</a>
                <ul>
                    <li>스크립트 개요</li>
                    <li>자바스크립트 사용법</li>
                    <li>자바스크립트 데이터 입출력</li>
                    <li>HTML태그에 접근하기</li>
                </ul>
            </li>

            <li>
                <a href="views/02_BasicGrammer.html">기본문법</a>
                <ul>
                    <li>변수와 자료형</li>
                    <li>데이터 형변환</li>
                    <li>연산자</li>
                    <li>조건문과 반복문</li>
                </ul>
            </li>
            <li>
                <a href="views/08_DOM.html">DOM</a>
                <ul>
                    <li>Node 객체</li>
                    <li>innerHTML</li>
                    <li>style지정</li>
                    <li>노드 삭제</li>
                </ul>
            </li>

            <li>
                <a href="views/09_Event.html">이벤트</a>
                <ul>
                    <li>이벤트 설정 방법</li>
                    <li>기본 이벤트 제거</li>
                </ul>
            </li>

            <li>
                <a href="views/10_RegularExpression.html">정규표현식</a>
            </li>
        </ol>
    </body>
</html>
